body {
  margin: 0;
  padding: 2%;
  font-family: sans-serif;
  background: #34495e;
}

.container {
  width: 300px;
  height: auto;
  padding: 20px;
  position: absolute;
  align-self: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: whitesmoke;
  text-align: center;
}

.container h1 {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
